{% load static %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>Classroom Hub</title>

  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap&display=swap"></noscript>
  
  <link rel="stylesheet" type="text/css" href="{% static 'styles/mobirise2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/mbr-additional.css' %}">
     <link rel="stylesheet"  href="{% static 'styles/bootstrap.min.css' %}">
     <link rel="stylesheet"  href="{% static 'styles/bootstrap-grid.min.css' %}">
     <link rel="stylesheet"  href="{% static 'styles/bootstrap-reboot.min.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'styles/jarallax.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'styles/hub1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/hub.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/hub2.css' %}">
  
  

<style>
.navbar-fixed-top {
  top: auto;
}
#mobiriseBanner.container-banner {
  height: 8rem;
  opacity: 1;
  -webkit-animation: 4s linear animationHeight;
  -moz-animation: 4s linear animationHeight;
    -o-animation: 4s linear animationHeight;
       animation: 4s linear animationHeight;
       transition: all  0.5s;
}
#mobiriseBanner.container-banner.container-banner-closing {
  pointer-events: none;
  height: 0;
  opacity: 0;
  -webkit-animation: 0.5s linear animationClosing;
  -moz-animation:  0.5s linear animationClosing;
    -o-animation:  0.5s linear animationClosing;
       animation:  0.5s linear animationClosing;
}
#mobiriseBanner .banner {
  min-height: 8rem;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 10px;
  opacity:1;
  -webkit-animation: 4s linear animationBanner;
  -moz-animation: 4s linear animationBanner;
    -o-animation: 4s linear animationBanner;
       animation: 4s linear animationBanner;
  z-index: 1031;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobiriseBanner .banner p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  animation: none;
  visibility: visible;
}
#mobiriseBanner .buy-license {
  text-decoration: underline;
}
#mobiriseBanner .banner .btn {
  margin: 0.3rem 0.5rem;
  animation: none;
  visibility: visible;
}
.navbar.opened {
    z-index: 1032;
}
@-webkit-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-moz-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-o-keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
   @keyframes animationBanner { 0% { opacity: 0; top: -8rem; } 75% { opacity: 0; top: -8rem; } 100% { opacity: 1; top: 0; } }
@-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
@-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 8rem; } }
   
@-webkit-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-moz-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@-o-keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
@keyframes animationClosing { 0% { height: 8rem; opacity: 1; } 30% { height: 8rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }

@media(max-width: 767px) {
  #mobiriseBanner.container-banner {
    height: 12rem;
  }
  #mobiriseBanner .banner {
    min-height: 12rem;
  }
  @-webkit-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-moz-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-o-keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
    @keyframes animationBanner { 0% { opacity: 0; top: -12rem; } 75% { opacity: 0; top: -12rem; } 100% { opacity: 1; top: 0; } }
  @-webkit-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-moz-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
  @-o-keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }
    @keyframes animationHeight { 0% { height: 0; } 75% { height: 0; } 100% { height: 12rem; } }

  @-webkit-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-moz-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @-o-keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
  @keyframes animationClosing { 0% { height: 12rem; opacity: 1; } 30% { height: 12rem; opacity: 0.5;} 100% { height: 0; opacity: 0;} }
}
</style>
</head>
<body>

  
  <section data-bs-version="5.1" class="menu menu2 cid-uoJr2e39wh" once="menu" id="menu-5-uoJr2e39wh">

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
						<img src="https://r.mobirisesite.com/707033/assets/images/photo-1578593139939-cccb1e98698c.jpeg"  style="height: 4.3rem;">
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="https://mobiri.se">Classroom</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se">Homework</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se" aria-expanded="false">Calendar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se">Profile</a>
					</li>
				</ul>
				
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-primary display-4" href="https://mobiri.se">Get Started</a>
				</div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header18 cid-uoJr2e3cUL mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/wjQq0nSGS28?autoplay=1&amp;loop=1&amp;playlist=wjQq0nSGS28&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-15-uoJr2e3cUL">
  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>Welcome Back</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Your adventure in learning begins here! Buckle up!</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" href="https://mobiri.se">Join Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features03 cid-uoJr2e4qk8" id="news-1-uoJr2e4qk8">
  
  
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-12 content-head">
        <div class="mbr-section-head">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Latest Announcements</strong>
          </h4>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item features-image col-12 col-md-6 col-lg-3 active">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="https://r.mobirisesite.com/707033/assets/images/photo-1552664730-d307ca884978.jpeg" alt="Mobirise Website Builder" title="">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
              <strong>Homework Submission Deadline Approaching!</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">September 20, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Don’t forget to submit your homework by Friday! Procrastination is not your friend!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Submit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="https://r.mobirisesite.com/707033/assets/images/photo-1604933834215-2a64950311bd.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>New Calendar Features Unveiled!</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">September 22, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Check out our shiny new calendar! Deadlines just got a makeover!</p>
            <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Submit</a></div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="https://r.mobirisesite.com/707033/assets/images/photo-1509062522246-3755977927d7.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Profile Updates Required ASAP!</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">September 25, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Make sure your profile is up to date! We need your info!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Submit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="https://r.mobirisesite.com/707033/assets/images/photo-1529070538774-1843cb3265df.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Exciting Events Coming Soon!</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">September 30, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Get ready for some fun events! Don’t miss out on the excitement!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="gallery10 cid-uoJr2e4s0X" id="features-69-uoJr2e4s0X">
  


  <div class="container-fluid">

      <div class="loop-container">
        <div class="item display-1" data-linewords="Upload homework with a click! * Stay on top of deadlines effortlessly! * " data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>

        <div class="item display-1" data-linewords="Upload homework with a click! * Stay on top of deadlines effortlessly! * " data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>
      </div>
    
  </div>
</section>

<section data-bs-version="5.1" class="gallery07 cid-uoJr2e4MLs" id="gallery-16-uoJr2e4MLs">
  
  
  <div class="container-fluid gallery-wrapper">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mbr-section-head mb-5">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Classroom Adventures Await!</strong>
          </h4>
          
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-container-3 moving-left" style="transform: translate3d(-200px, 0px, 0px);">
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/707033/assets/images/photo-1630705605873-5d7776c38d78.jpeg" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/707033/assets/images/photo-1565689157206-0fddef7589a2.jpeg" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/707033/assets/images/photo-1515187029135-18ee286d815b.jpeg" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/707033/assets/images/photo-1527822618093-743f3e57977c.jpeg" alt="Mobirise Website Builder">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="image02 cid-uoJr2e46vl mbr-fullscreen mbr-parallax-background" id="image-13-uoJr2e46vl">
    
    
    <div class="container">
        <div class="row"></div>
    </div>
</section>

<section data-bs-version="5.1" class="features023 cid-uoJr2e6Qqu" id="metrics-1-uoJr2e6Qqu">

    

    
    
    <div class="container">
        
        <div class="row content-row justify-content-center">
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>100%</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Homework Completed!</strong>
                    </h4>
                    
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>24/7</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Support Available!</strong>
                    </h4>
                    
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>5 Stars</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Student Satisfaction!</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="header18 cid-uoJr2e6Y4h mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/YSul9yrAvN4?autoplay=1&amp;loop=1&amp;playlist=YSul9yrAvN4&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="video-5-uoJr2e6Y4h">
  

  <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header12 cid-uoJr2e61ld" id="call-to-action-8-uoJr2e61ld">
    

    
    

    <div class="text-center container">
        <div class="row mb-4 justify-content-center">
            <div class="col-12 col-md-4">
                <img src="https://r.mobirisesite.com/707033/assets/images/photo-1573894997713-de07a124df43.jpeg" alt="Mobirise Website Builder">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 content-head">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                    <strong>Join the Classroom Adventure Today!</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style mb-4 display-7">Unlock your potential with our engaging learning platform.</p>
                <div class="mbr-section-btn mt-4">
                    <a class="btn btn-primary display-7" href="https://mobiri.se">Get Started Now!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="people06 cid-uoJr2e7oRs" id="testimonials-7-uoJr2e7oRs">   
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-12 col-lg-8">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <p class="card-text mbr-fonts-style display-5">This platform transformed my learning experience!</p>
                        <div class="img-wrapper mt-3 justify-content-center">
                            <img src="https://r.mobirisesite.com/707033/assets/images/photo-1568530134868-5d89f49d5a72.jpeg" alt="" data-slide-to="0" data-bs-slide-to="0">
                        </div>
                        <p class="card-title mbr-fonts-style mt-3 display-7">
                            <strong>Emily Johnson</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="list05 cid-uoJr2e716y" id="faq-3-uoJr2e716y">
    
    <div class="container">
        <div class="col-12 mb-5 content-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Frequently Asked Questions</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center ">
            <div class="col-12 col-lg-8">
                <div class="item features-without-image col-12 active">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>How do I upload homework?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Simply navigate to the homework page and click 'Upload'.</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Where can I find deadlines?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Check the calendar page for all upcoming deadlines!</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Can I edit my profile?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Absolutely! Go to your profile page to make changes.</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                      <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                          <strong>What if I miss a deadline?</strong></h5>
                      <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Don't panic! Reach out to your teacher for extensions.</p>
                  </div>
              </div>
              <div class="item features-without-image col-12">
                <div class="item-wrapper">
                    <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                        <strong>Is there a mobile app?</strong></h5>
                    <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Yes! Download our app for on-the-go access.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="social4 cid-uoJr2e79gs" id="follow-us-1-uoJr2e79gs">
    
    
    

    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                    <strong>Follow Us Online!</strong>
                </h3>
                <div class="social-list align-center">
                    <a class="iconfont-wrapper bg-facebook m-2 " target="_blank" href="https://mobiri.se">
                        <span class="socicon-facebook socicon"></span>
                    </a>
                    <a class="iconfont-wrapper bg-twitter m-2" href="https://mobiri.se" target="_blank">
                        <span class="socicon-twitter socicon"></span>
                    </a>
                    <a class="iconfont-wrapper bg-instagram m-2" href="https://mobiri.se" target="_blank">
                        <span class="socicon-instagram socicon"></span>
                    </a>
                    
                    
                    
                    
                    
                    <a class="iconfont-wrapper bg-tiktok m-2" href="https://mobiri.se" target="_blank">
                        <span class="socicon-tiktok socicon"></span>
                    </a>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-uoJr2e75lC" id="contact-form-3-uoJr2e75lC">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Get in Touch!</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="j8XVk/sNujBqWgbHvS0c0BXlm8OyyEGOZAhJ78gAVsAcQaiMiaWsbEpc8Fy9V98TcNqpNk0ow8sk5N9fhUDrsakvXmvssukd48QcH8vY8TC5DJvf4cKYotQ1cHhJ/FWv">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-3-uoJr2e75lC">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-3-uoJr2e75lC">
                        </div>
                        <div class="col-12 form-group mb-3 mb-3" data-for="url">
                            <input type="url" name="url" placeholder="Phone" data-form-field="url" class="form-control" value="" id="url-contact-form-3-uoJr2e75lC">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-3-uoJr2e75lC"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7">Send It!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts01 cid-uoJr2e7cvQ" id="contacts-1-uoJr2e7cvQ">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Contact Us</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image col-12 col-md-6 active">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:(123) 456-7890" class="text-black">(123) 456-7890</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:info@classroom.com" class="text-black">info@classroom.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Address</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Prague Czech Republic</p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Office Hours</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Mon-Fri: 9 AM - 5 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




  <script src="https://r.mobirisesite.com/707033/assets/web/assets/jquery/jquery.min.js?rnd=1726665678239"></script>
  <script src="https://r.mobirisesite.com/707033/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1726665678239"></script>
  <script src="https://r.mobirisesite.com/707033/assets/parallax/jarallax.js?rnd=1726665678239"></script>
  <script src="https://r.mobirisesite.com/707033/assets/smoothscroll/smooth-scroll.js?rnd=1726665678239"></script>
  <script src="https://r.mobirisesite.com/707033/assets/ytplayer/index.js?rnd=1726665678239"></script>
  <script src="https://r.mobirisesite.com/707033/assets/dropdown/js/navbar-dropdown.js?rnd=1726665678239"></script>
  <script src="https://r.mobirisesite.com/707033/assets/vimeoplayer/player.js?rnd=1726665678239"></script>
  <script src="https://r.mobirisesite.com/707033/assets/scrollgallery/scroll-gallery.js?rnd=1726665678239"></script>
  <script src="https://r.mobirisesite.com/707033/assets/theme/js/script.js?rnd=1726665678239"></script>
  <script src="https://r.mobirisesite.com/707033/assets/formoid/formoid.min.js?rnd=1726665678239"></script>
  
  
  
</body>
</html>