{% extends 'base.html' %}

{% block content %}
<h2>Your Active Homework Assignments</h2>

<div class="assignment-list">
    {% for homework in homeworks %}
    <div class="assignment-block">
        <h3>{{ homework.title }}</h3>
        <p><strong>Due:</strong> {{ homework.due_date }}</p>
        {% if homework.file %}
            <a href="{{ homework.file.url }}">Download Homework File</a>
        {% endif %}
        <a href="{% url 'view_submissions' homework.id %}" class="btn btn-primary">View Submissions</a>
    </div>
    {% endfor %}
</div>

<a href="{% url 'add_homework' %}" class="btn btn-success">Add New Homework</a>
{% endblock %}
