# teacher_dashboard.html
{% extends 'base.html' %}

{% block content %}
<h2>Your Active Homework Assignments</h2>

<div class="assignment-list">
    {% for homework in homeworks %}
    <div class="assignment-block">
        <h3>{{ homework.title }}</h3>
        <p><strong>Due:</strong> {{ homework.due_date }}</p>
        {% if homework.group %}
            <p><strong>Assigned to group:</strong> {{ homework.group.name }}</p>
        {% endif %}
        {% if homework.students.all %}
            <p><strong>Assigned to students:</strong> 
                {% for student in homework.students.all %}
                    {{ student.get_full_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <a href="{% url 'view_submissions' homework.id %}" class="btn btn-primary">View Submissions</a>
    </div>
    {% endfor %}
</div>

<a href="{% url 'add_homework' %}" class="btn btn-success">Add New Homework</a>
{% endblock %}
