{% extends 'base.html' %}

{% block content %}
<h1>Submissions for {{ homework.title }}</h1>

<ul>
    {% for submission in submissions %}
    <li>
        <strong>{{ submission.student.username }}</strong> - Submitted on: {{ submission.submitted_on }}<br>
        <a href="{{ submission.file.url }}">Download Submission</a><br>
        <strong>Marks:</strong> {{ submission.marks }}<br>
        <strong>Comments:</strong> {{ submission.comments }}<br>
        <strong>Resubmission Allowed:</strong> {{ submission.allow_resubmission|yesno:"Yes,No" }}<br>
        <a href="{% url 'give_feedback' submission.id %}">Give Feedback</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'delete_homework' homework.id %}" class="btn btn-danger">Delete Homework</a>
{% endblock %}
