
.assignment-block {
    background-color: #f0f4f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.assignment-block h3 {
    font-size: 22px;
    color: #003366;
}

.assignment-block p {
    color: #333;
    margin-bottom: 10px;
}

.assignment-block strong {
    color: #005b96;
}

.assignment-block a {
    color: #005b96;
    text-decoration: none;
}

.assignment-block a:hover {
    text-decoration: underline;
}


.assignment-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

@media (min-width: 768px) {
    .assignment-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .assignment-list {
        grid-template-columns: repeat(3, 1fr);
    }
}


.assignment-block .btn {
    background-color: #005b96;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.assignment-block .btn:hover {
    background-color: #003366;
}
