
.assignment-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: start;
    /*max-width: 1200px;*/
}
.assignment-block {
    background-color: #f0f4f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    width: 100%;
    box-sizing: border-box;
}

.assignment-block h3 {
    font-size: 22px;
    color: #003366;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;

}

.assignment-block p {
    color: #333;
    margin-bottom: 10px;
    word-break: break-word;
    white-space: normal;
}

.assignment-block strong {
    color: #005b96;
}

.assignment-block a {
    color: #005b96;
    text-decoration: none;
}

.assignment-block a:hover {
    text-decoration: underline;
}



/*@media (min-width: 768px) {
    .assignment-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .assignment-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
*/

.assignment-block .btn {
    background-color: #005b96;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.assignment-block .btn:hover {
    background-color: #003366;
}
